/* 标题部分 */
.project {
    width: 100%;
}

.project .project-title {
    width: 100%;
    height: 180px;
    overflow: hidden;
    background-color: #f7f8f9;
}

.project .project-title .e-title{
    width: 100%;
    margin-top: 63px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 32px;
	font-weight: bold;
	color: #181818;
}
.project .project-title .e-name {
    width: 100%;
    text-align: center;
    font-size: 14px;
	color: #c3c3c3;
}

/* 标题下面的tab部分 */
.project .exibition {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 141px;
}
.project .exibition .tab {
    width: 412px;
    margin: 0 auto;
    margin-top: 37px;
    margin-bottom: 63px;
    overflow: hidden;
}

.project .tab .tab-item {
    float: left;
    margin: 0 15px;
}
.project .tab a {
    display: block;
    width: 73px;
    height: 31px;
    text-align: center;
    line-height: 31px;
}
.project .tab a.active {
    background-color: #1073d8;
    color: #ffffff;
}

/* 案例展示部分 */
.project .project-show {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.project .project-little-box {
    float: left;
    margin: 0 24px 24px 0;
}
.project .project-little-box:nth-child(3n) {
    margin-right: 0;
}

.project .project-little-box img {
    display: block;
    width: 100%;
    height: auto;
}

.project .project-little-box .card {
    box-sizing: border-box;
    border: 1px solid #eee;
    height: 78px;
}
.project .project-little-box .title {
    margin-top: 19px;
    text-align: center;
    font-size: 16px;
    color: #555555;
    font-weight: bold;
}
.project .project-little-box .tip {
    font-size: 14px;
	line-height: 24px;
    color: #b3b3b3;
    text-align: center;
}