/* banner图 */
.banner{
    position: relative;
    width: 100%;
}

.banner .banner-img{
    width: 100%;
    display: block;
}

.banner .banner-c{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -600px;
    width: 1200px;
    height: 100%;
}

.banner .arr-l{
    display: block;
    position: absolute;
    top: 50%;
    left: -50px;
    width: 50px;
    height: 79px;
    margin-top: -40px;
    background: url(../img/箭头-l.png) no-repeat center;
    background-size: 100% auto;
}

.banner .arr-r{
    display: block;
    position: absolute;
    top: 50%;
    right: -50px;
    width: 50px;
    height: 79px;
    margin-top: -40px;
    background: url(../img/箭头-r.png) no-repeat center;
    background-size: 100% auto;
}

/* 回到顶部按钮 */
.banner-c .callus{
    display: block;
    position: absolute;
    bottom: 0;
    right: -52px;
    width: 52px;
    height: 52px;
    background: url(../img/联系.png) no-repeat center;
    background-size: 100% auto;
}

.banner-c .pageup{
    display: block;
    position: absolute;
    bottom: 52px;
    right: -52px;
    width: 52px;
    height: 52px;
    background: url(../img/置顶.png) no-repeat center;
    background-size: 100% auto;
}

/* banner图上的more按钮 */
.banner-c .more{
    display: block;
    position: absolute;
    right: 5%;
    bottom: 30.5555%;
    width: 217px;
    height: 61px;
    background: url(../img/banner_more.png) no-repeat center;
    background-size: 100% auto;
}

/* 小圆点代码，可以复用 */
.banner-c .pagination{
    position: absolute;
    bottom: 21px;
    width: 100%;
    text-align: center;
    font-size: 0;
}

.pagination .dot{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #6c6c6c;
    border: 5px solid transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-clip: content-box;
    opacity: 0.27   ;
}

.pagination .dot + .dot{
    margin-left: 18px;
}

.pagination .dot.active{
    background: #ffffff;
    border: 5px solid #6c6c6c;
}
.pagination .dot:hover{
    background: #ffffff;
    border: 5px solid #6c6c6c;
}
/* 婚纱礼服部分 */
.wedding-dress{
    width: 100%;
}

.wedding-dress-c{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}


.wedding-dress .tab{
    width: 550px;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 16px;
}
.wedding-dress .tab .tab-item{
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
}

.wedding-dress .tab a{
	font-size: 16px;
	color: #4d4d4d;
}

.wedding-dress .tab a:hover{
    color: #b9ab77;
}

.wedding-dress .tab-item.active a{
    color: #b9ab77;
}
.wedding-dress .tab-item.active::after{
    content: "";
    float: left;
    position: absolute;
    bottom: -16px;
    left: 50%;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #b9ab77;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.wedding-dress .showcase{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
}
.wedding-dress .showcase-item img{
    display: block;
}
.wedding-dress .showcase-item{
    position: relative;
    float: left;
    width: 270px;
    /* 黑白滤镜 */
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.wedding-dress .showcase-item:hover{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}
.wedding-dress .showcase-item .filter{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
}
.wedding-dress .showcase-item:hover .filter{
    opacity: 1;
}
.wedding-dress .showcase-item .info{
    position: absolute;
    top: 124px;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all ease .5s;
    transition-delay: .4s;
}
.wedding-dress .showcase-item .info .herstyle{
    margin-bottom: 39px;
    font-size: 14px;
	color: #ffffff;
}
.wedding-dress .showcase-item .info .price{
    margin-bottom: 8px;
    font-size: 12px;
	color: #ffffff;
}
.wedding-dress .showcase-item .info .parameter{
    font-size: 12px;
	color: #ffffff;
}
.wedding-dress .showcase-item:hover .info{
    opacity: 1;
}
.wedding-dress .showcase-item + .showcase-item{
    margin-left: 40px;
}

/* 各个大模块下方的MORE按钮，可以复用 */

.more{
    width: 100%;
}
.more a{
    display: block;
    width: 151px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 60px auto;
    font-size: 12px;
    color: #2d2d2d;
    border: 1px solid #b9ab77;
}

/* 珠宝配饰模块 */
.jewelry{
    width: 100%;
}
.jewelry .jewelry-c{
    width: 1200px;
    margin: 0 auto;
    background-color: #f9f9f9;
    overflow: hidden;
}
.jewelry .title .etitle{
    margin-bottom: 60px;
}

.jewelry .showcase{
    display: block;
    margin: 0 auto;
    overflow: hidden;
}
.jewelry .showcase-item img{
    display: block;
}
.jewelry .showcase-item{
    position: relative;
    float: left;
    width: 270px;
}
.jewelry .showcase-item .filter{
    position: absolute;
    top: 120px;
    left: 0;
    opacity: 0;
    transition: all ease .5s;
}
.jewelry .showcase-item:hover .filter{
    opacity: 1;
}
.jewelry .showcase-item .info{
    position: absolute;
    top: 120px;
    width: 100%;
    text-align: left;
    opacity: 0;
    transition: all ease .5s;
}
.jewelry .showcase-item .info .info-title{
    width: 88%;
    margin: 12px auto 8px;
    font-size: 14px;
	color: #ffffff;
}
.jewelry .showcase-item .info .description{
    width: 88%;
    margin: 0 auto;
    font-size: 12px;
    color: #c1c1c1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.jewelry .showcase-item:hover .info{
    opacity: 1;
}
.jewelry .showcase-item + .showcase-item{
    margin-left: 40px;
}

/* 最新活动模块 */
.activity .box{
    position: relative;
    width: 100%;
    background: url(../img/activity-bgc.png) no-repeat top;
    overflow: hidden;
}
.activity .box .case{
    width: 1200px;
    margin: 0 auto;
    margin-top: 169px;
    overflow: hidden;
}
.activity .box .case-item{
    position: relative;
    float: left;
    width: 25%;
}
.activity .box .case-item img{
    width: 100%;
    height: 350px;
    vertical-align: bottom;
}
.activity .box .filter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 透明白色覆盖层的写法
    background: white;
    filter: opacity(70%);
    -webkit-filter: opacity(90%); */
    /* 直接用background-color写更简单，如下 */
    background-color: RGB(241, 239, 240, 0.9);
    opacity: 0;
    transition: all ease 0.5s;
}
.activity .box .case-item:hover .filter{
    opacity: 1;
}
.activity .box .info{
    position: absolute;
    top: 44px;
    opacity: 0;
    transition: all ease 0.2;
}
.activity .box .case-item:hover .info{
    opacity: 1;
}
.activity .box .info>*{
    width: 72%;
    margin: 0 auto;
}
.activity .box .time{
    font-size: 14px;
    color: #8b8b8b;
    margin-bottom: 48px;
}
.activity .box em{
    font-style: normal;
    font-size: 30px;
    padding-right: 15px;
}
.activity .box .kind{
    font-size: 16px;
    color: #000000;
    margin-bottom: 21px;
}
.activity .box .description{
	font-size: 13px;
    color: #8b8b8b;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.activity .box .info a{
    display: block;
    width: 72%;
    margin: 0 auto;
    margin-top: 59px;
    font-size: 14px;
	color: #bebebe;
}

/* 设计师模块 */
.designer{
    width: 100%;
    background-color: #4d4d4d;
}
.designer .designer-c{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.designer .designer-c .title .ctitle{
    color: #f7f5f5;
}
.designer .designer-c .title .etitle{
    color: #c1c1c1;
}
.designer .designer-item{
    position: relative;
    float: left;
    width: 33.3%;
    text-align: center;
}
.designer .designer-item .name{
    margin-top: 25px;
    font-size: 24px;
	color: #f7f5f5;
}
.designer .designer-item .titleName{
    margin-top: 10px;
    font-size: 12px;
	color: #b9b9b9;
}
.designer .designer-item .description{
    width: 72%;
    margin: 0 auto;
    margin-top: 19px;
    font-size: 12px;
    line-height: 2;
    color: #b9b9b9;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.designer .designer-item .little-more{
    width: 153px;
    height: 40px;
    margin: 53px auto 60px;
    border-bottom: 1px solid #bbbaba;
}
.designer .designer-item .little-more a{
    display: 100%;
    font-size: 12px;
	color: #bbbaba;
    text-align: center;
    line-height: 40px;
}
.designer .designer-item .little-more:hover{
    border-bottom: 1px solid #ffffff;
}
.designer .designer-item .little-more:hover a{
    color: #ffffff;
}
